@tailwind base;
@tailwind components;
@tailwind utilities;  

@layer utilities{
    :root{
        --soft-blue:215, 51%, 70%;
        --cyan: 178, 100%, 50%;
        --dark-blue-main: 217, 54%, 11%;
        --dark-blue-card: 216, 50%, 16%;
        --dark-blue-line: 215, 32%, 27%;
    }

    .bg-main{
        background-color: hsl(var(--dark-blue-main),1);
    }
    .bg-card{
        background-color: hsl(var(--dark-blue-card),1);
    }

    .card-shadow{
        box-shadow: 0px 30px 0px 20px #0000001f, 0px 0px 0px 40px #0000000a;
    }
}



/* 
- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)
- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) 
*/